<h1>Editing <%= @dojo.branch %></h1>

<form action="/dojos/<%= @dojo.id %>" method="post">
   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
   <input type="hidden" name="_method" value="patch">
   	<p>Branch: <input type="text" name="dojo[branch]" placeholder="<%= @dojo.branch %>"></p>
	<p>Street: <input type="text" name="dojo[street]" placeholder="<%= @dojo.street %>"></p>
	<p>City: <input type="text" name="dojo[city]" placeholder="<%= @dojo.city %>"></p>
	<p>State: <input type="text" name="dojo[state]" placeholder="<%= @dojo.state %>"></p>
   <input type="submit" value="Update Dojo">
</form>

<a href="/dojos">Home</a>