<h1>Listing Dojos</h1>

<table style="border: 1px solid black; text-align: center;">
  <thead>
    <tr>
      <th>Coding Dojo Branch</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
  <% @dojos.each do |dojo| %>
    <tr style="border: 1px solid black;">
      <td><%= dojo.branch %></td>
      <td><%= dojo.street %></td>
      <td><%= dojo.city %></td>
      <td><%= dojo.state %></td>
      <td><a href="/dojos/<%= dojo.id %>/students">Show</a> | <a href="/dojos/<%= dojo.id %>/edit">Edit</a> | 
      <form style="display: inline-block;" action="/dojos/<%= dojo.id %>" method="post">
      	<input type="hidden" name="_method" value="delete">
      	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      	<input type="submit" value="delete">
      </form></td>
    </tr>
  <% end %>  
  </tbody>
</table>

<a href="/dojos/new">New Dojo</a>