<h1><%= @dojo.branch %></h1>
<p><strong>Address: </strong><%= @dojo.street %></p>
<p><strong>City: </strong><%= @dojo.city %></p>
<p><strong>State: </strong><%= @dojo.state %></p>

<p><a href="/dojos">Home</a> |
<a href="/dojos/<%= @dojo.id %>/edit">Edit</a></p>