<h1>All Secrets</h1>
<form style="display: inline-block;" action="/logout" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Log Out">
</form>

<p><a href="/users/<%= session[:user_id] %>">Go to my secrets</a>

<hr>

<% @secrets.each do |secret| %>
	<p><%= secret.content %></p>
	<p>Likes <%= secret.likes.count %></p>

		<% if @user.secrets_liked.exists?(secret.id) %>
			<form style="display: inline-block;" action="/likes/<%= secret.id %>/delete" method="post">
	   			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	   			<input type="hidden" name="_method" value="delete">
	   			<input type="submit" value="Unlike">
			</form>
		<% else %>
			<form style="display: inline-block;" action="/likes/<%= secret.id %>" method="post">
	   			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	   			<input type="submit" value="Like">
			</form>
		<% end %>

	<% if secret.user_id == session[:user_id] %>
		<form style="display: inline-block;" action="/secrets/<%= secret.id %>/delete" method="post">
   			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
   			<input type="hidden" name="_method" value="delete">
   			<input type="submit" value="Delete">
		</form>
	<% end %> 
<% end %> 