<h1>Welcome <%= @user.name %></h1>

<form style="display: inline-block;" action="/logout" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Log Out">
</form>

<p><a href="/secrets/all">Secrets Wall</a> | <a href="/users/edit">Edit User</a></p>

<hr>

<h3>New Secret:</h3>
<form action="/secrets" method="post">
   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
   	<p><textarea style="width: 600px; height: 100px;" name="secret"></textarea></p>
   <input type="submit" value="Create Secret">
</form>
	
<div style="width: 1000px;">
	<div style="width: 400px; display: inline-block; padding: 15px;">
		<h4>My Secrets:</h4>
		<% @secrets.each do |secret| %>
			<p><%= secret.content %></p>
			<form style="display: inline-block;" action="/secrets/<%= secret.id %>/delete" method="post">
   				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
   				<input type="hidden" name="_method" value="delete">
   				<input type="submit" value="Delete">
			</form>
			<hr>
		<% end %> 
	</div>
	<div style="width: 400px; display: inline-block; vertical-align: top; padding: 15px;">
		<h4>Secrets Liked:</h4>
		<% @allSecrets.each do |secret| %>
			<% secret.likes.each do |like| %>
				<% if like.user_id == @user.id %>
					<p><%= secret.content %></p>
					<p><%= secret.likes.count %> Likes</p>
					<hr>
				<% end %>
			<% end %>
		<% end %> 
	</div>
</div>