<h1>Coding Dojo Wall</h1>
<h2>Welcome <%= @user.name %></h2>
<p><a href="/users/logout">Logout</a></p>
<hr>

<h1>Post a Message</h1>

<% if flash[:errors] %>
  	<% flash[:errors].each do |err| %>
  		<p style="color: red;"><%= err %></p>
  	<% end %>	
<% end %>

<form action="/messages" method="post">
   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
   	<p><textarea style="width: 700px; height: 150px;" name="message"></textarea></p>
   <input style="margin-left: 595px;" type="submit" value="Post a message">
</form>

	<% if flash[:CommErrors] %>
  		<% flash[:CommErrors].each do |err| %>
  			<p style="color: red;"><%= err %></p>
  		<% end %>	
	<% end %>

<% @messages.each do |message| %>
	<h3 style="width: 700px; margin-left: 50px;"><%= message.user.name	%> - <%= message.created_at.strftime("%B %d, %Y")%></h3>
	<p style="width: 1000px; margin-left: 50px;"><%= message.message	%></p>
	<h4 style="margin-left: 120px;">Comments:</h4>

	<% @comments.each do |comment| %>
		<% if comment.message_id == message.id  %>
			<h5 style="margin-left: 150px;"> <%= comment.user.name %> - <%= comment.created_at.strftime("%B %d, %Y") %></h5>
			<p style="margin-left: 150px;"><%= comment.comment %></p>
		<% end %> 
	<% end %> 

	<form action="/messages/<%= message.id %>" method="post">
   		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
   		<p><textarea style="width: 540px; height: 50px; margin-left: 150px;" name="comment"></textarea></p>
   		<input style="margin-left: 595px;" type="submit" value="Post a comment">
	</form>
<% end %>  

